@keyframes rotate-hand {
  from {
    transform: translateX(-50%) rotate(0deg);
  }
  to {
    transform: translateX(-50%) rotate(360deg);
  }
}

.stopwatch {
  height: $stopwatch-size;
  width: $stopwatch-size;
  border: 1vmin dotted #000;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;

  &__minutes-hand {
    height: $hand-minutes-height;
    width: $hand-minutes-width;
    background-color: #000;
    position: absolute;
    bottom: $hand-minutes-position-top;
    left: $hand-minutes-position-left;
    transform-origin: bottom;
    z-index: 1;
    animation: rotate-hand 3600s steps(60) infinite;
  }

  &__seconds-hand {
    height: $hand-seconds-height;
    width: $hand-seconds-width;
    background-color: #000;
    position: absolute;
    bottom: $hand-seconds-position-top;
    left: $hand-seconds-position-left;
    transform-origin: bottom;
    z-index: 2;
    animation: rotate-hand 60s linear infinite;
  }

  &__center {
    height: $center-size;
    width: $center-size;
    background-color: red;
    border-radius: 50%;
    position: absolute;
    z-index: 3;
  }

  &--speed-up {
    & .stopwatch__seconds-hand {
      animation-duration: 10s;
    }

    & .stopwatch__minutes-hand {
      animation-duration: 600s;
    }
  }
}
