$stopwatch-size: 80vmin;
$hand-minutes-width: 3vmin;
$hand-minutes-height: 20vmin;
$hand-minutes-position-left: 50%;
$hand-minutes-position-top: 50%;
$hand-seconds-width: 1.5vmin;
$hand-seconds-height: 38vmin;
$hand-seconds-position-left: 50%;
$hand-seconds-position-top: 50%;
$center-size: 5vmin;
